<menu class="taskFilter" ng-controller="subCtrl" >

	<div class="categories" ng-class="{active:$parent.isSelected(1) }" >
		 <span class="count">{{yoursTasks}} </span>
		  <span class="categoryName">yours</span> 
	  </div>

	<div class="categories" ng-class="{active:$parent.isSelected(2) }" >
		 <span class="count">{{unassignedTasks}}</span> 
		 <span class="categoryName">unassigned</span> 
	 </div>

	<div class="categories" ng-class="{active:$parent.isSelected(3) }" > 
		<span class="count">{{allTasks}}</span> 
		<span class="categoryName">all</span> 
	</div>
</menu>
