<menu class="taskFilter">

	<div class="categories" ng-class="{active:isSelected(1) }" ng-click="setActive(1)">
		 <span class="count">{{yoursTasks}} </span>
		  <span class="categoryName">yours</span> 
	  </div>

	<div class="categories" ng-class="{active:isSelected(2) }" ng-click="setActive(2)">
		 <span class="count">{{unassignedTasks}}</span> 
		 <span class="categoryName">unassigned</span> 
	 </div>

	<div class="categories" ng-class="{active:isSelected(3) }" ng-click="setActive(3)"> 
		<span class="count">{{allTasks}}</span> 
		<span class="categoryName">all</span> 
	</div>
</menu>
