<!DOCTYPE html>
<html lang="en" ng-app="inbox">
<head>
	<meta charset="UTF-8">
	<title>inbox</title>

	<link rel="stylesheet" href="src/css/bootstrap.css">
	<link rel="stylesheet" href="src/css/styles.css">
	<link rel="stylesheet" href="src/css/fakeLoader.css">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<!-- <link rel="stylesheet" href="dist/css/styles.min.css"> -->
</head>
<body ng-controller= "mainCtrl">
	<div id="mainWrapper">
		<section id="navigation">
<!-- SEARCH -->
			<header id="navHeader" class="navHeader">
				<div class="search" ng-controller="SearchFieldCtrl"> 
					<div class="searchWrap">
						<input id="searchField" type="search " class="searchField" ng-model="$parent.searchFieldInput">
						<span class="glyphicon glyphicon-search" ng-click="searchAnimationEvent()"></span>
					</div>
				</div>
			</header>
<!-- ___________________________________________________________________________ -->
			
<!-- TASKS -->
			<div id="tasksFilter" class="filterWrap" ng-controller="TasksFilterCtrl">
				<ng-view>
				</ng-view>
				<task-filter></task-filter>
				<tasks-list></tasks-list>	
			</div>
<!-- ___________________________________________________________________________ -->
			</section>
		</section>

		<section id="mainContent">		
			<main id="mainContentInner" class="mainContentInner" ng-controller="ExpandedTaskCtrl"> 
<!--	HEADER -->
				<header>
					<menu class="headerControls">
						<button class="returnBtn" ng-click="returnBtnHead()"></button>
					</menu>
					<aside class="metaData">
						<span>{{obj.author}}</span>
						<span>{{obj.date}}</span>
					</aside>
					<a class="taskMenu" ng-click="dropDownShowHide(); ">
						<span></span>
						<span></span>
						<span></span>
					</a>
					<div class="dropDownMenu" >
						<button name="edit" class="taskMenuBtn" ng-click="openWindow($event)">Edit</button>
						<button name="reassign" class="taskMenuBtn" ng-click="menuBtnEvents($event)">EditResp</button>
						<button name="changeLocation" class="taskMenuBtn" ng-click="menuBtnEvents($event)">Relocate</button>
					</div>
					<h2>{{obj.header}}</h2>
				</header>
					
				<div class="assign">
					<figure>
						<img class="authorIcon" ng-src="{{obj.user.avatar}}" ng-mouseover="zoomAvatarExpTask($event)" ng-click="openUserExpTask(obj.user.id)">
					</figure>
					<aside><p>Assigned: {{obj.user.name}}</p></cite>
				</div>
<!-- ___________________________________________________________________________ -->

<!--  LOCATION -->
	<section id="locationBlock" ng-click="openLocation($event)" class="openArrow">
		<button class="locationEditBtn" ng-click="replaceMarker()">Submit</button>
		<button class="locationEditBtn" ng-click="hideEdit()">Cancel</button>
	</section>
<!--  -->
		<!-- NEW COMMENT BLOCK -->
				<div class="newComment ">
					<div class="newCommentSimple">
						<p> Add <a ng-click="writeCommentInput()">internal node</a> or 
						<a ng-click="writeCommentInput()">public reply</a> 
						</p>
					</div>
					<div class="newCommentExpanded">
					<figure>
						<img class="authorIcon" ng-src="src/images/avatar.jpg">
					</figure>
				 		<textarea class="commentInput"  rows="1" ng-model="comment.value"></textarea>

				 		<menu class="controls">
				 			<button ng-click="addComment(comment)" class="reply">Reply</button>
				 			<button class="replyNSolve">Reply and solve</button> 		
				 		</menu>
				 		
					</div>	
				</div>
<!-- ___________________________________________________________________________ -->

<!-- COMMENT BLOCKS -->					
					<comments-list> </comments-list>
<!-- ___________________________________________________________________________ -->				
			</main>
		</section>

	</div>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/modernizr/modernizr.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

	<script src="src/js/inboxApp.js"></script>
	<script src="src/js/events.js"></script>
	<script src="src/js/directives/tasksFilter.js"></script>
	<script src="src/js/directives/commentsList.js"></script>
	<script src="src/js/fakeLoader.js"></script>

<!-- 	<script src="dist/scripts/scripts.min.js"></script>   -->
</body>
</html>
