<!DOCTYPE html>
<html lang="en" ng-app="inbox" class="html" >
<head>
	<meta charset="UTF-8">
	<title>inbox</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="src/css/styles.css">

	<script src="src/js/frameworks/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="src/js/frameworks/angular.js"></script>
	
</head>
<body ng-controller = "TasksCtrl">
	<section id="navigation">
		<header class="navHeader">	
			<div class="search"> <input type="search" class="searchField" ng-model="query"></div>

			<div class="taskFilter">

				<div class="categories">
					 <span class="count">3</span>
					  <span class="categoryName">yours</span> 
				  </div>

				<div class="categories">
					 <span class="count">6</span> 
					 <span class="categoryName">unassigned</span> 
				 </div>

				<div class="categories active"> 
					<span class="count">22</span> 
					<span class="categoryName">all</span> 
				</div>

			</div>
		</header>

		<ul class="tasks">
				<li class="taskBlock" ng-repeat="task in tasks | filter:query"  ng-click="toggle.state = !toggle.state" ng-class="{'activeTask' : toggle.state} ">
				<article>
					<header>
						<h3 class="taskHeader">{{task.header}}</h3>
					</header>

					<section>
						<p class="taskDescription">{{task.description}}</p>
					</section>

					<footer>
						<p class="meta">{{task.author}}</p> 
						<figure>
							<img class="taskAuthorIcon" src="src/images/avatar.jpg" />
						</figure>
					</footer>
				</article>
					<!-- <p class="taskHeader">{{task.header}}</p>
					
					<p class="taskDescription">{{task.description}}</p>
					
					<p class="authorInfo">{{task.author}}</p>
					
					<div class="taskStatusIcon"></div> -->
				</li>
			</ul>
		</section>
	</section>

	<section id="mainContent">
		<main> 
			<!-- HEADER -->
			<header>
				<p class="metaData">Jhon@gmail.com  Requested on Friday March 21</p>
				<!--  <a href="#" class="more"><span></span><span></span><span></span></a> -->
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe quisquam cupiditate dignissimos blanditiis nisi id vero, unde.</h2>
			</header>
				
			<div class="assign">
				<figure>
					<img class="authorIcon" src="src/images/avatar.jpg">
				</figure>
				<p>Assigned: Jason Wu</p>
			</div>
	<!-- _____________________________ -->

	<!-- NEW COMMENT BLOCK -->
			<div class="newComment newCommentExpanded">
				<p> Add <a href="#">internal node</a> or <a href="#">public reply</a></p>
				<div class="wrap">
				<figure>
					<img class="authorIcon" src="src/images/avatar.jpg">
				</figure>
			 		<textarea class="commentInput"  rows="1"></textarea>

			 		<section class="controls">
			 			<button class="reply">Reply</button>
			 			<button class="replyNSolve">Reply and solve</button> 		
			 		</section>
			 		
				</div>	
			</div>
	<!-- ___________________________________________-->

		<!-- COMMENT BLOCKS -->		
			<ul class="commentBlock" ng-controller="CommentsCtrl">
				<li class="comment" ng-repeat="comment in comments">
					<article>
						<figure>
							<img class="authorIcon" src="src/images/avatar.jpg">
						</figure>
						<p class="meta">{{comment.author}}</p>
						<div>
							<p class="content">{{comment.content}}</p>
						</div>
					</article>
					<!-- <div class="authorIcon"></div>
					<p class="author">{{comment.author}}</p>
					<p class="content">{{comment.content}}</p> -->
				</li>
			</ul>
		</main>
	</section>

<!-- _____________________________________________ -->	

	<script src="src/js/controller.js"></script>
</body>
</html>
