<!DOCTYPE html>
<html lang="en" ng-app="inbox">
<head>
	<meta charset="UTF-8">
	<title>inbox</title>
	<link rel="stylesheet" type="text/css" href="src/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="src/css/styles.css">
</head>
<body ng-controller = "TasksCtrl">
	<div id="mainWrapper">
		<section id="navigation">
			<header class="navHeader">	
				<div class="search" ng-controller="SearchFieldCtrl as searchField"> 
					<div class="searchWrap">
						<input id="searchField" type="search " class="searchField" ng-model="query">
						<span class="glyphicon glyphicon-search" ng-click="searchField.searchAnimationEvent()"></span>
					</div>
				</div>
			</header>
			<div class="filterWrap">			
				<menu class="taskFilter" ng-controller="TasksFilterCtrl as taskFilter">

					<div class="categories" ng-class="{active:taskFilter.isSelected(1) }" ng-click="taskFilter.setActive(1)">
						 <span class="count">7</span>
						  <span class="categoryName">yours</span> 
					  </div>

					<div class="categories" ng-class="{active:taskFilter.isSelected(2) }" ng-click="taskFilter.setActive(2)">
						 <span class="count">5</span> 
						 <span class="categoryName">unassigned</span> 
					 </div>

					<div class="categories" ng-class="{active:taskFilter.isSelected(3) }" ng-click="taskFilter.setActive(3)"> 
						<span class="count">9</span> 
						<span class="categoryName">all</span> 
					</div>
				</menu>
		
				<ul class="tasks" ng-controller="TasksCtrl">
					<li class="taskItem activeTask" ng-repeat="task in tasks | filter:query" 
					 ng-click="openComment($event)">
					<article>
						<header>
							<h3 class="taskHeader">{{task.header}}</h3>
						</header>

						<section>
							<p class="taskDescription">{{task.description}}</p>
						</section>

						<footer>
							<p class="meta">{{task.author}}</p> 
							<figure>
								<img class="taskAuthorIcon" src="src/images/avatar.jpg" />
							</figure>
						</footer>
					</article>
					</li>
				</ul>
			</div>
			</section>
		</section>

		<section id="mainContent">
			<main class="mainContentInner"> 
				<!-- HEADER -->
				<header ng-controller="ExpandedTaskCtrl">
					<menu class="headerControls">
						<button class="returnBtn" ng-click="returnBtn()"></button>
					</menu>
					<aside class="metaData">
						<span>Jhon@gmail.com</span>
						<span>Requested on Friday March 21</span></aside>
					<!--  <a href="#" class="more"><span></span><span></span><span></span></a> -->
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
				</header>
					
				<div class="assign">
					<figure>
						<img class="authorIcon" src="src/images/avatar.jpg">
					</figure>
					<cite><p>Assigned: Jason Wu</p></cite>
				</div>
		<!-- _____________________________ -->

		<!-- NEW COMMENT BLOCK -->
				<div class="newComment ">
					<div class="newCommentSimple">
						<p> Add <a href="#">internal node</a> or <a href="#">public reply</a> 
						</p>
					</div>
					<div class="newCommentExpanded">
					<figure>
						<img class="authorIcon" src="src/images/avatar.jpg">
					</figure>
				 		<textarea class="commentInput"  rows="1"></textarea>

				 		<menu class="controls">
				 			<button class="reply">Reply</button>
				 			<button class="replyNSolve">Reply and solve</button> 		
				 		</menu>
				 		
					</div>	
				</div>
		<!-- ___________________________________________-->

			<!-- COMMENT BLOCKS -->		
				<ul class="commentList" ng-controller="CommentsCtrl">
					<li ng-repeat="comment in comments">
						<article class="commentItem">
							<figure>
								<img class="authorIcon" src="src/images/avatar.jpg">
							</figure>
							<aside class="meta"><span>{{comment.author}}</span></aside>
							<div class="content">
								<p >{{comment.content}}</p>
							</div>
						</article>
					</li>
				</ul>
			</main>
		</section>
	</div>

	<script src="src/js/frameworks/jquery-1.11.2.js"></script>
	<script src="src/js/frameworks/modernizr.js"></script>
	<script  src="src/js/frameworks/angular.js"></script>
	<script src="src/js/controller.js"></script>
	<script src="src/js/events.js"></script>

</body>
</html>
