/* COMMENTS  */
.commentList {
	height: 80%;
	width: 100%;
	clear: both;

	.commentItem {
		display: block;
		width: 100%;
		height: auto;
		padding: 3% 0 3% 0;
		border-bottom: 1px solid darken($lightGrey, 20%);
		
		.authorIcon {
			display: inline-block;
			float: left;
			width: 20px;
			height: 20px;
			margin-right: 2%;
			background: $violet;
			border-radius: 50%;
			&:hover {
				border: 1px solid #A4A4A4;
				box-shadow: rgba(0,0,0,0.2) 0px 2px 3px;
				-webkit-transform: scale(1.5, 1.5); 
				-webkit-transition-duration: 200ms;
				-webkit-transition-timing-function: ease-out;
				-moz-transform: scale(1.5, 1.5);
				-moz-transition-duration: 200ms;
				-moz-transition-timing-function: ease-out;
				-ms-transform: scale(1.5, 1.5);
				-ms-transition-duration: 200ms;
				-ms-transition-timing-function: ease-out;
				transform: scale(1.5,1.5);
			}
		}
		.meta {
			display: inline-block;
			float: left;
			margin-left: 10px;
			font-weight: 700;
		}
		.content {
			clear: both;
			padding:  2% 0 2% 0;
			padding-left: 0;
		}
	}
}

