#locationBlock {
	position: relative;
	width: 100%;
	min-height: 30px;
	background: #DDDCDE;
	border-radius: 3px; 
	transition: background .3s;
	text-align: center;
	color: #555555;
	font-weight: 1.3em;
	letter-spacing: 7px;
	
	.glyphicon.glyphicon-record {
		position: absolute;
		left: 10px;
		top: 7px;
		font-size: 1.5em;
		float: left;
		transition: opacity .3s;
		color: #797575;
		&:after {
			content: "Map";
			position: absolute;
			top: 0;
			left: 25px;			
			font-weight: bold;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
			letter-spacing: 2px;
		}	
	}

	&.openArrow {
		&:after {
			content: "";
			visibility: hidden;
			display: inline-block;
			width: 40px;
			height: 30px;
			border: none;
			background: url("../images/1.png") no-repeat 50% 50%;
			-ms-transform: rotate(180deg); 
	   		-webkit-transform: rotate(180deg);
	    	transform: rotate(180deg);
			transition: transform .3s;
		}
	}
	
	&:hover {
		background: #C1C1C1;
		cursor: pointer;
		
		& .glyphicon.glyphicon-record {
			opacity: 0;
		}
		&:after {
			content: "";
			visibility: visible;
			-ms-transform: rotate(0deg); 
		    -webkit-transform: rotate(0deg); 
		   	transform: rotate(0deg);
		}
		/*  */
		&.closeArrow {
			&:after {
				content: "";
				visibility: hidden;
				-ms-transform: rotate(0deg); 
			    -webkit-transform: rotate(0deg); 
			   	transform: rotate(0deg);
				transition: transform .3s;
			}

			&:hover {
				&:after {
					content: "";
					visibility: visible;
					-ms-transform: rotate(180deg); 
			   		-webkit-transform: rotate(180deg);
			    	transform: rotate(180deg);
					transition: transform .3s;
				}
			}
		}
	}

	#map {
		opacity: 0;
		height: 0;
		width: 100%;
	}

	.locationEditBtn {
		display: none;
		float: left;
		width: 50%;
		border: 2px solid #615C5C;
		background: #A1A1A1;
		color: #E6E6E6;
		outline: none;
		transition: background 0.5s;
		
		&:hover {
			color: #615C5C;
			background: #FAF8F8;
			border-style: solid;
			border-color: #8D8C8C;
			
		}
	}
}

