#locationBlock {
	position: relative;
	width: 100%;
	min-height: 30px;
	background: #DDDCDE;
	border-radius: 3px; 
	transition: background .3s;
	text-align: center;
	color: #555555;
	font-weight: 1.3em;
	letter-spacing: 7px;
	&:hover {
		background: #C1C1C1;
		cursor: pointer;
		
		& > .openMap {
			visibility: visible;
			-ms-transform: rotate(0deg); 
	    	-webkit-transform: rotate(0deg);
	   		 transform: rotate(0deg);
			 
			 &.openedArrow {
				-ms-transform: rotate(180deg); 
		    	-webkit-transform: rotate(180deg);
		   		 transform: rotate(180deg);
			}   
		}
	}

	#map {
		opacity: 0;
		height: 0;
		width: 100%;
	}

	.locationEditBtn {
		display: none;
	float: left;
		width: 50%;
		border: 2px solid #615C5C;
		background: #A1A1A1;
		color: #E6E6E6;
		outline: none;
		transition: background 0.5s;
		
		&:hover {
			color: #615C5C;
			background: #FAF8F8;
			border-style: solid;
			border-color: #8D8C8C;
			
		}
	}

	.openMap {
		display: inline-block;
		visibility: hidden;
		width: 40px;
		height: 30px;
		border: none;
		background: url("../images/1.png") no-repeat 50% 50%;
		-ms-transform: rotate(180deg); 
   		 -webkit-transform: rotate(180deg);
    	transform: rotate(180deg);
		transition: transform .5s;
	}
}
