/* NAVIGATION SECTION HEADER   */
@import "../_variables";

.navHeader {
	height: 5%;
	width: 100%;

	.search {
		position: relative;
		height: 100%;
		width: 100%;
		border-bottom: 1px solid darken($lightGrey,20%);

		.searchWrap {
			position: relative;
			top:0;
			float: right;
			margin-top: 1%;
			margin-right: 4%;
			width: 40%;
			height: 60%;

			.searchField {
				display: none;
				width: 100%;
				height: 100%;				
				margin-top: 2%;
				margin-right: 2%;
				border: 1px solid #fff;
				transition: border-color 0.5s;

				&:focus {
					outline: none;
					border-color: #ccc;						
				}
				&:not(:focus) {
					display: none;
				}
				&:focus + span.glyphicon-search {
					display: none;
				}
			}
			
			 .glyphicon-search {
				position: absolute;
				top: 40%;
				right: 10%;
				font-size: 1.3em;
			}
		}
	}

/* _________________________________________ */

/*   TASKS  CTEGORIES  YOURS UNSIGNED .....   */
/* 	
	} */
}
.filterWrap {
	width: 100%;
	height: 95%;
	overflow-y: scroll;
}
.taskFilter {
	height: 10%;
	width: 100%;
	padding: 0px;
	border-bottom: 1px solid darken($lightGrey,20%);
	
	.categories {
		position: relative;
		display: block;
		float: left;
		width: 25%;
		height: 100%;
		text-align: center;
		margin: 0 7% 0 0;
		color: darken($creamColor,30%);
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		cursor: pointer;

		&:first-child {
			margin-left: 7%;
		}
		&:last-child {
			margin-right: 0;
		}
			
		.count {	
			display: block;
			font-size: 2.3em;
			height: 60%;
			font-weight: normal;
		}

		.categoryName {
			display: block;
			height: 40%;
			font-weight: 700;	
			font-size: 0.8em;
			padding: 0% 0 0% 0;
			color: darken($creamColor,10%);
			text-transform: uppercase;
		}

		&.active {
			border-bottom: 3px solid $darkGreen !important;
			color: #000 !important;
			font-weight: 700 !important;
			& .categoryName {
				color: #000 !important;
			}
		}
	}
}


	/* RESPONSIVE */

@media only screen and (max-width: $xLarge) {
	/* SEARCH n NAVIGATION */
	.navHeader {
		.search {	
			.searchField {
				margin-top: 4%;
				width: 45%;
				height: 50%;
				background-position: 95% 1px;
			}
		}
	}
}

@media only screen and (max-width: $large) { 
	/* SEARCH n NAVIGATION */	
	.navHeader {
		.search {			
			.searchField {
				margin-top: 4%;
				width: 45%;
				height: 50%;
				background-position: 95% 1px;
			}
		}
	}
}

@media only screen and (max-width: $xMedium)  {
	/* SEARCH n NAVIGATION */	
	.navHeader {
		.search {
			.searchField {
				margin-top: 4%;
				width: 60%;
				height: 50%;
				background-position: 95% 1px;
			}
		}
	}
}

@media only screen and (max-width: $middle) { 
	.navHeader {

		.taskFilter {
			.categories {
				.count {	
					font-size: 1.8em;
				}
			}	
		}
	}
}

@media only screen and (min-width: $mobileMax) and (max-width: $middle) { 
	.taskFilter {
		
		.categories {
			.categoryName {
				font-size: 0.7em;
				}
		}
	}
	
}


@media only screen and (max-width: $medium)  {
/* SEARCH n NAVIGATION */	
	.navHeader {
		.search {
				.searchField {
				margin-top: 4%;
				width: 60%;
				height: 50%;
				background-position: 95% 1px;
			}
		}
	}
}

@media only screen and (max-width: $mobileMax) {
	.navHeader {
		.search {
			/* height: 30%; */
			margin-top: 2%;		

			.searchField {
				margin-top: 2%;
				width: 40%;
				height: 60%;
				background-position: 95% 1px;
			}
		}
	}
}

@media only screen and (max-width: 190px) {
	.taskFilter {
		.categories {
			.categoryName {
				font-size: 0.5em;
				}
		}
	}
}
