/* NAVIGATION SECTION HEADER   */
@import "../_variables";

.navHeader {
	height: 16%;
	width: 100%;

	.search {
		position: relative;
		height: 40%;
		width: 100%;
		border-bottom: 1px solid darken($lightGrey,20%);

		.searchWrap {
			position: relative;
			top:0;
			float: right;
			margin-right: 5%;
			width: 40%;
			height: 60%;

			.searchField {
				display: block;
				width: 100%;
				height: 100%;				
				margin-top: 2%;
				margin-right: 2%;
				border: 1px solid darken($lightGrey,10%);
				background-size: 15% 90%;
				line-height: 100%;

				&:focus + span.glyphicon-search {
					display: none;
				}
			}
			
			 .glyphicon-search {
				position: absolute;
				top: 40%;
				right: 10%;
			}
		}
	}

/* _________________________________________ */

/*   TASKS  CTEGORIES  YOURS UNSIGNED .....   */
	.taskFilter {
		height: 50%;
		width: 100%;
		padding: 0px;
		border-bottom: 1px solid darken($lightGrey,20%);
		
		.categories {
			position: relative;
			display: block;
			float: left;
			width: 25%;
			height: 100%;
			text-align: center;
			margin: 0 5% 0 0;
			color: darken($creamColor,30%);
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;
			cursor: pointer;

			&:first-child {
				margin-left: 8%;
			}
				
			.count {	
				display: block;
				font-size: 1.2em;
				height: 60%;
			}

			.categoryName {
				display: block;
				height: 40%;		
				font-size: 0.6em;
				padding: 2% 0 0 0;
				color: darken($creamColor,10%);
				text-transform: uppercase;
			}

			&.active {
				border-bottom: 3px solid $darkGreen !important;
				color: #000 !important;
				font-weight: 700 !important;
				& .categoryName {
					color: #000 !important;
				}
			}
		}
	}
}
	/* RESPONSIVE */

@media only screen and (max-width: $xLarge) {
	/* SEARCH n NAVIGATION */
	.navHeader {
		.search {	
			.searchField {
				margin-top: 4%;
				width: 45%;
				height: 50%;
				background-position: 95% 1px;
			}
		}
	}
}

@media only screen and (max-width: $large) { 
	/* SEARCH n NAVIGATION */	
	.navHeader {
		.search {	
			height: 40%;
			
			.searchField {
				margin-top: 4%;
				width: 45%;
				height: 50%;
				background-position: 95% 1px;
			}
		}
	}
}

@media only screen and (max-width: $xMedium)  {
	/* SEARCH n NAVIGATION */	
	.navHeader {
		.search {
			height: 30%;

			.searchField {
				margin-top: 4%;
				width: 60%;
				height: 50%;
				background-position: 95% 1px;
			}
		}
	}
}

@media only screen and (min-width: $mobileMax) and (max-width: $middle) { 
	.navHeader {
		.taskFilter {
			height: 40%;
		}
	}
}


@media only screen and (max-width: $medium)  {
/* SEARCH n NAVIGATION */	
	.navHeader {
		.search {
			height: 30%;

			.searchField {
				margin-top: 4%;
				width: 60%;
				height: 50%;
				background-position: 95% 1px;
			}
		}
	}
}

@media only screen and (max-width: $mobileMax) {
	.navHeader {
		.search {
			height: 30%;
			margin-top: 2%;		

			.searchField {
				margin-top: 2%;
				width: 40%;
				height: 60%;
				background-position: 95% 1px;
			}
		}
	}
}