/* NEW COMMENT BLOCK.  SIMPLE AND EXPANDED */
.newComment {
	height: 4%;
	margin: 2% 0 2% 0;
	background: $dirtyWhite;
	border: 1px solid darken($lightGrey, 10%);
	border-radius: 5px;
	padding: 1% 0% 1% 2%;

	.newCommentSimple {	
		height: 100%;
		width: 100%;		
		color: darken($creamColor,20%);
		a {
			color: darken($clearBlue, 20%);
			text-decoration: none;
		}	
	}

	.commentInput {
		display: none;
		opacity: 0;
		transition: opacity 1s;
	}

	button {
		display: none;
				opacity: 0;
		transition: opacity 1s;
	}
	.authorIcon {
		display: none;
				opacity: 0;
		transition: opacity 1s;
	}
	/* EXPANDED */
	&.newCommentExpanded {
		height: 25%;
		background: #fff;
		padding: 0px;
		border: none;
		
		.newCommentSimple {
			display: none;
		}
		.authorIcon {
			display: inline-block;
			float: left;
			width: 40px;
			height: 40px;
			margin-left: 3%;
			border-radius: 50%;
		}

		.commentInput {
			display: inline-block;
			float: right;
			margin-bottom: 2%;
			resize: none;
			width: 88%;
			height: 195px;
			padding: 1%;
			border: 2px solid darken($lightGrey, 20%);
			border-radius: 5px;
			margin-right: 2%;
			&:focus {
				outline: 0;
			}
		}

		button {
			display: block;
			float: right;				
			padding: 1.5% 4%;

			&.replyNSolve {
				border: none;
				border:1px solid darken($lightGrey, 15%);
				border-radius: 3px;
				background: #fff;
				font-weight: 700;
				&:hover {
					background: darken(#fff,5%);
				}
			}

			&.reply {
				background: $green;
				border:1px solid darken($green, 10%);
				margin-left: 1%;
				border-radius: 3px;
				color: #fff;
				margin-right: 2%;

				&:hover {
					background: lighten($green,5%);
				}
			}
		}
	}
	/* _______________________ */
}
	/* ___________________________ */
	
	/* RESPONSIVE */

@media only screen and (max-width: $xLarge) {
	/* 	NEW COMMENT BLOCK */
	.newComment {
		/* EXPANDED */
		&.newCommentExpanded {
			height: 25%;
			&:before {
				content: '';
				width: 4.5%;
				height: 11%;
			}

			.commentInput {
				width: 90%;
				height: 140px;
			}
		}
		/* _______________________ */
	}
}

@media only screen and (max-width: $large) { 
	/* 	NEW COMMENT BLOCK */
	.newComment {
		.commentInput {
		}
		/* EXPANDED */
		&.newCommentExpanded {
			height: 25%;
			background: #fff;

			&:before {
				width: 4%;
				height: 11%;
			}
			.commentInput {
				width: 87%;
				height: 140px;
			}
		}
		/* _______________________ */
	}
}

@media only screen and (max-width: $xMedium)  {
/* 	NEW COMMENT BLOCK */
	.newComment {
		.commentInput {
		}
		/* EXPANDED */
		&.newCommentExpanded {
			height: 25%;

			&:before {
				width: 8%;
				height: 11%;
			}
			.commentInput {
				width: 85%;
				height: 140px;
			}
		}
		/* _______________________ */
	}
}

@media only screen and (max-width: $medium)  {
	/* 	NEW COMMENT BLOCK */
	.newComment {
		.commentInput {
		}
		/* EXPANDED */
		&.newCommentExpanded {
			height: 25%;

			&:before {
				width: 8%;
				height: 11%;
			}
			.commentInput {
				width: 85%;
				height: 140px;
			}
		}
		/* _______________________ */
	}
}

@media only screen and (max-width: $mobileMax) {
	/* COMMENTS  */
	/* #mainContent { */
		.commentList {
			height: 100%;
			overflow: hidden;
			clear: both;
			padding: 0% 0% 0% 3%;
		}
		/* NEW COMMENT BLOCK.  SIMPLE AND EXPANDED */
		.newComment {
			height: 6%;
			margin: 0;
			background: $asphalt;
			border: none;
			border-radius: 0px;
			padding: 2% 0%;
			border-bottom: 1px solid darken($lightGrey, 20%);

			.newCommentSimple {
				width: 90%;	
				
				margin: 0 auto ;
				background: #fff !important;		
				color: darken($creamColor,20%);
				border-radius: 2px;
				padding: 1% 1% 1% 2%;
				border: 1px solid darken($lightGrey, 10%);
				border-radius: 4px;
			}
		}
	/* ___________________________ */
	/* } */
}