@media only screen and (max-width: $mobileMax) {

	#reassignSection {
		float: left;
		width: 25%;
		height: 100%;
		margin: 0%;
		background: #fff;
		transition: -webkit-transform 1s linear;
		transition: transform 1s linear;
		
		&.slideMore {
			transition: -webkit-transform .415s linear;
			transition: transform .415s linear;
		}

		.reassignSectHeader {
			width: 100%;
			height: 10%;
			border-bottom: 1px solid darken($lightGrey,20%);

			.returnButton {
				display: inline-block;
				width: 24px;
				height: 100%;
				border: none;
				background: #fff url("../images/arrow-left.png") no-repeat 50% 50%; 				
				outline: none;
				float: left;			
			}
			.title {	
				width: 80%;
				height: 100%;
				display: inline-block;
				padding-top: 27px;
				text-align: center;
				float: left;
			}
		}
		
		.userList {
			overflow-y: scroll;
			height: 90%;
			
			.userItem {
				width: 100%;
				height: 8%;				
				transition: background .5s;
				cursor: pointer;
				
				&:hover {
					background: #F0F0F0
				}

				.singleUserName {
					display: inline-block;
					float: right;
					height: 100%;
					width: 80%;
					border-bottom: 2px solid darken($lightGrey,20%);
					font-size: 1.5em;
					padding: 13px 0 13px 0px;
				}

				.singleUserAvatar {
					display: inline-block;
					margin: 3% 1% 0 3%;
					float: left;
					& > img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $mobileMin + 5) { 
	#reassignSection {
		.userList {
			.userItem {
				height: 19%;
				border-bottom: 2px solid darken($lightGrey,20%);
				padding: 10% 0 0 0;
				&:hover {
				}

				.singleUserAvatar {
					display: block;
					width: 50%;
					margin: 0 auto;
					float: none;
					& > img {
						display: block;
						margin: 0 auto;
						width: 60px;
						height: 60px;
						border-radius: 50%;
					}
				}
				
				.singleUserName {
					display: block;
					text-align: center;
					width: 50%;
					float: none;
					border-bottom: none;
					margin: 0 auto;
					padding: 5px 0 0 0;
				}
			}
		}
		.reassignSectHeader {
			.title {
				padding-top: 30px;	
				font-size: 2.4em;
			}
		}
	}
}