/* TITELE AUTHOR */
.mainContentInner {
	header {
		position: relative;
	}
}

.headerControls {
	display: none;
	border-top: 1px solid darken($lightGrey,20%);
	padding: 0px;
	margin: 0px;
	margin-top: 2%;
	
	.returnBtn {
		width: 25px;
		height: 40px;
		border: none;
		background: #fff url("../images/arrow-left.png") no-repeat 50% 50%; 
		margin-left: 3%; 
		margin-bottom: 1.5%;
		outline: none;
	}
}	

.metaData {
	display: block;
	color: darken($creamColor,25%);
	font-style: italic;
	margin-bottom: 2%;
	padding: 7% 0 0 0;
}

.taskMenu {
	display: block;
	position: absolute;
	z-index: 15;
	right: 0;
	&:hover {
		cursor: pointer;
		& > .dropDownMenu {
			display: block;
			opacity: 1;
		}
	}
	.wrap {
		float: right;
		margin-right: 3px;
	}
	.sandwich {
		display: block;
		width: 20px;
		height: 3px;
		background: #A1A1A1;
		margin-top: 4px;
	}
}

.dropDownMenu {
	display: none;
	opacity: 0;
	margin: 30px 5px 0 0;
	z-index: 8;
	transition: opacity 1s;
/* 	&:before {
		content: "";
		position: absolute;
		right: 0;
		display: block;
		float: right;
		width: 0px;
		height: 0px;
		border-bottom: 8px solid #A1A1A1;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		margin:-8px 13px 0 0;
		z-index: 5;
	} */

	.taskMenuBtn {
		width: 80%;
		height: 50px;
		background: #A1A1A1;
		color: #E6E6E6;
		border: none;
		outline: none; 
		transition: background 0.5s;
		text-align: left;
		padding-left: 10px;
		float: right;
		font-weight: bold;
		
		&:first-child {
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			&:before {
				content: "";
				position: absolute;
				right: 0;
				display: block;
				float: right;
				width: 0px;
				height: 0px;
				border-bottom: 8px solid #A1A1A1;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				margin:-24px 13px 0 0;
				z-index: 6;
			}
			/* Color triangle  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
			&:hover {
				&:before {
					content: "";
					border-bottom-color: #FAF8F8;
					/* content: "";
					position: absolute;
					right: 0;
					display: block;
					float: right;
					width: 0px;
					height: 0px;
					border-bottom: 8px solid #FAF8F8;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					margin:-24px 13px 0 0;
					z-index: 6; */
				}
			}	
		}
		&:last-child {
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}	
		& .glyphicon {
			display: inline-block;
			float: right;
			font-size: 1.3em;
			margin-right: 10px;
		}
		&:hover {
			color: #615C5C;
			background: #FAF8F8;
		}
	}
	.glyphicons .glyphicons-group {
		font-size: 1.6em;
	}
}

.assign {
	color: darken($creamColor,25%);
	padding-bottom: 3%;
	border-bottom: 1px solid darken($lightGrey,20%);
	margin-top: 11%;
	margin-bottom: 7%;

	.authorIcon {
		display: inline-block;
		float: left;
		width: 25px;
		height: 25px;
		margin-right: 2%;
		background: $violet;
		border-radius: 50%;
		
		&:hover {
			border: 1px solid #A4A4A4;
			box-shadow: rgba(0,0,0,0.2) 0px 2px 3px;
			-webkit-transform: scale(1.5, 1.5); 
			-webkit-transition-duration: 200ms;
			-webkit-transition-timing-function: ease-out;
			-moz-transform: scale(1.5, 1.5);
			-moz-transition-duration: 200ms;
			-moz-transition-timing-function: ease-out;
			-ms-transform: scale(1.5, 1.5);
			-ms-transition-duration: 200ms;
			-ms-transition-timing-function: ease-out;
			transform: scale(1.5,1.5);
		}
	}
}

.editWindow {
	display: block;
	position: absolute;
	width: 43%;
	height: 400px;
	background: #ccc;
	top: 10%;
	opacity: 1;
	z-index: 18;

	h1 {
		float: left;
		width: 15%;
		height: 100%;
		background: #3A3939;
		color: #E6E6E6;
		border-right: 10px solid #9C9595;
	}
	.windowBtn {
		display: inline-block;
		width: 20%;
		height: 10%;
		background: #A1A1A1;
		margin: 1% 1% 1% 4%;
		float: left;
		margin-top: 0;
		color: #E6E6E6;
		border: none;
		outline: none;
		transition: background 0.5s;

		&:hover {
				color: #615C5C;
				background: #FAF8F8;
				border-top: 1px;
				border-bottom: 1px;
				border-style: solid;
				border-color: #8D8C8C;
			}
	}

	.users {
		display: block;
		float: left;
		width: 70%;
		height: 50%;
		margin-left: 5%;
		
		
		.singleUser {
			display: inline-block;
			width: 20%;
			height: auto;
			text-align: center;
			margin-top: 2%;
			&:hover {
				cursor: pointer;
				background: #DBDBDB;
				border-bottom: 2px solid #252323;
			}
		}
	}

	.glyphicon.glyphicon-remove {
		position: absolute;
		top: 0;
		right: 0;		
		font-size: 1.8em;
		border-radius: 2px;	
		cursor: pointer;
	}

	}


@media only screen and (max-width: $xLarge) {
	.taskMenu {
		& + .dropDownMenu { 
		
		}
	}
	.editWindow {
		width: 57%;
	 }

}

@media only screen and (max-width: $large) {
	.taskMenu {
		& + .dropDownMenu { 
		
		}
	}
	.editWindow {
		width: 60%;
	 }
}

@media only screen and (max-width: $large) {
	.taskMenu {
		& + .dropDownMenu { 
			top: 95px;
		}
	}
	.editWindow {
		width: 64%;
	 }	
}

@media only screen and (max-width: $medium) {
	.taskMenu {
		& + .dropDownMenu { 
			top: 80px;
		}
	}
	.editWindow {
		h1 {
			font-size: 1.9em;
		 }
	 }	
}
@media only screen and (max-width: $mobileMax) {
	.editWindow {
		width: 100%;
	 }	
}

@media only screen and (max-width: $middle) {
	.taskMenu {
		& + .dropDownMenu { 
			top: 85px;
		}
	}	
}

@media only screen and (max-width: $medium) {
	.taskMenu {
		& + .dropDownMenu { 
			top: 75px;
		}
	}	
}

@media only screen and (max-width: $mobileMax) {
	/* TITELE AUTHOR */
	h2 {
		padding: 2% 0% 5% 3% ;
		border-top: 1px solid darken($lightGrey,20%);
	}
	.headerControls {
		display: block;
		margin-top: 0%;
	}	
	.metaData {
		display: none;
	}

	.assign {
		color: #000;
		padding-bottom: 4%;
		border-top: 1px solid darken($lightGrey,20%);
		border-bottom: 1px solid darken($lightGrey,20%);
		margin-top: 0%;
		padding: 4% 0% 4% 3%;
	}
	
}

@media only screen and (max-width: 425px) {
	.editWindow {
		h1 {
			font-size: 1.5em;
		 }
	 }	
}