.navHeader {
	.returnBtn {
		position: absolute;
		top: 7px;
		left: 0;
		width: 25px;
		height: 40px;
		border: none;
		background: #fff url("../images/arrow-left.png") no-repeat 50% 50%; 
		margin-left: 1%; 
		outline: none;
	}	
}

.filterWrap {	
	.userOverviewHeader {
		height: 12%;
		width: 100%;
		border-bottom: 1px solid #ccc;
		background: $creamColor; 
		opacity: 1;
 		
		.userOverviewAvatar {
			width: 30%;
			float: left;
			margin: 4% 0 0 9%;
			img {
				border-radius: 4px;
			}
		}

		.userOverviewInfo {
			width: 60%;
			float: right;
			cursor: default;
			.subTag {
				display: inline-block;
				margin-right: 5px;
				font-weight: bold;
				font-size: 1.1em;
				color: $darkGrey;
			}
			
			.userName, .userId, .userTasksCount {
				margin-bottom: 10px;
				
			}
		}
	}


}

.XD {
	border: 1px solid #A4A4A4;
	box-shadow: rgba(0,0,0,0.2) 0px 2px 3px;

	-webkit-transform: scale(1, 1); 
	-webkit-transition-duration: 200ms;
	-webkit-transition-timing-function: ease-out;
	-moz-transform: scale(1, 1);
	-moz-transition-duration: 200ms;
	-moz-transition-timing-function: ease-out;
	-ms-transform: scale(1, 1);
	-ms-transition-duration: 200ms;
	-ms-transition-timing-function: ease-out;
	transform: scale(1.5,1.5);
}

