.navHeader {
	.returnBtn {
		position: absolute;
		top: 7px;
		left: 0;
		width: 25px;
		height: 40px;
		border: none;
		background: #fff url("../images/arrow-left.png") no-repeat 50% 50%; 
		margin-left: 1%; 
		outline: none;
	}	
}

.filterWrap {	
	.userOverviewHeader {
		height: 12%;
		width: 100%;
		border-bottom: 1px solid #ccc;
		background: $creamColor; 
		opacity: 1;
 		
		.userOverviewAvatar {
			width: 30%;

			float: left;
			margin: 3% 0 0 5%;
			img {
				width: 60%;
				border-radius: 50%;
			}
		}

		.userOverviewInfo {
			width: 60%;
			float: right;
			cursor: default;
			margin-top: 3%;
			.subTag {
				display: inline-block;
				margin-right: 5px;
				font-weight: bold;
				font-size: 1.1em;
				color: $darkGrey;
			}
			.subTagName {
				font-size: 1.2em;
				font-weight: bold;
			}
			
			.userName, .userId, .userTasksCount {
				margin-bottom: 10px;
				
			}
		}
	}


}

@media only screen and (max-width: $xMedium)  {
	.filterWrap {	
		.userOverviewHeader {
			.userOverviewInfo {
				font-size: 0.9em;
			}
		}
	}
}

@media only screen and (max-width: $middle)  {
	.filterWrap {	
		.userOverviewHeader {
			.userOverviewAvatar {
				margin: 4% 0 0 5%;
			}
			.userOverviewInfo {
				font-size: 1em;
				.subTag {
					font-size: 0.9em;	
				}
				
			}
		}
	}
}

@media only screen and (max-width: $medium)  {
	.filterWrap {	
		.userOverviewHeader {
			.userOverviewInfo {
				font-size: 0.9em;
			}
		}
	}
}

@media only screen and (max-width: $mobileMax)  {
	.filterWrap {	
		.userOverviewHeader {
			.userOverviewAvatar {
				margin: 4% 0 0 10%;
			}
			.userOverviewInfo {
				font-size: 1.1em;
			}
		}
	}
}

@media only screen and (max-width: $mobileMin)  {
	.filterWrap {	
		.userOverviewHeader {
			.userOverviewAvatar {
				margin: 4% 0 0 5%;
			}
			.userOverviewInfo {
				font-size: 1em;
				.subTag {
					font-size: 0.9em;	
				}
				
			}
		}
	}
}
