html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
dfn,
del,
p,
blockquote,
fieldset,
input,
textarea,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
button,
canvas,
video {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset,
img {
  border: none;
}

input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
  line-height: normal;
}

/*    COLORS     */
/* __________________ */
/*      SIZES     */
/* __________________ */
@font-face {
  font-family: "Droid Sans";
  src: url("../fonts/Droid_Sans/DroidSans.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Droid Sans";
  src: url(../fonts/Droid_Sans/DroidSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Droid Sans";
  src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);
  font-style: italic;
}
html {
  height: 100%;
  width: 100%;
  background: #ffffff;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Droid Sans', sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 100%;
}

h2 {
  font-weight: 700;
}

cite {
  font-style: normal;
}

a {
  cursor: pointer;
}

li[category=your] {
  background: linear-gradient(#fff, #F8FFF5);
}

li[category=unassigned] {
  background: linear-gradient(#fff, #FFEDED);
}

@media only screen and (max-width: 620px) {
  html {
    width: 100%;
    height: 100%;
  }

  body {
    height: 100%;
    width: 400%;
    overflow: hidden;
  }

  main {
    width: 100%;
  }
}
/*    COLORS     */
/* __________________ */
/*      SIZES     */
/* __________________ */
#navigation {
  box-sizing: border-box;
  float: left;
  width: 27.6%;
  height: 100%;
  border-right: 1px solid #cacaca;
  margin: 0%;
}

#mainContent {
  float: left;
  width: 72.4%;
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#mainWrapper {
  width: 100%;
  height: 100%;
}

.mainContentInner {
  display: none;
  opacity: 0;
}

@media only screen and (max-width: 1453px) {
  .mainContentInner {
    width: 80%;
  }
}
@media only screen and (max-width: 1153px) {
  .mainContentInner {
    width: 85%;
  }
}
@media only screen and (max-width: 970px) {
  .mainContentInner {
    width: 90%;
  }
}
@media only screen and (min-width: 620px) {
  #navigation {
    margin: 0% !important;
  }
}
@media only screen and (max-width: 620px) {
  #mainWrapper {
    width: 100%;
  }

  #navigation {
    float: left;
    width: 25%;
    margin: 0%;
  }

  .slideLeft {
    transition: -webkit-transform .5s linear;
    transition: transform .5s linear;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .slideRight {
    transition: -webkit-transform .4s linear;
    transition: transform .4s linear;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  .slideMore {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }

  #mainContent {
    float: left;
    width: 25%;
  }
  #mainContent .mainContentInner {
    width: 100%;
    margin: 0;
  }

  .no-csstransitions .slideLeft, .no-csstransforms .slideLeft {
    margin-left: -50%;
  }

  .no-csstransitions .slideRight, .no-csstransforms .slideRight {
    margin-left: 0%;
  }
}
/* NAVIGATION SECTION HEADER   */
/*    COLORS     */
/* __________________ */
/*      SIZES     */
/* __________________ */
.navHeader {
  height: 5%;
  width: 100%;
  /* _________________________________________ */
  /*   TASKS  CTEGORIES  YOURS UNSIGNED .....   */
  /* 	
  	} */
}
.navHeader .search {
  position: relative;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #cacaca;
}
.navHeader .search .searchWrap {
  position: relative;
  top: 0;
  float: right;
  margin-top: 1%;
  margin-right: 4%;
  width: 40%;
  height: 60%;
}
.navHeader .search .searchWrap .searchField {
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 2%;
  margin-right: 2%;
  border: 1px solid #fff;
  transition: border-color 0.5s;
}
.navHeader .search .searchWrap .searchField:focus {
  outline: none;
  border-color: #ccc;
}
.navHeader .search .searchWrap .searchField:not(:focus) {
  display: none;
}
.navHeader .search .searchWrap .searchField:focus + span.glyphicon-search {
  display: none;
}
.navHeader .search .searchWrap .glyphicon-search {
  position: absolute;
  top: 40%;
  right: 10%;
  font-size: 1.3em;
}

.filterWrap {
  width: 100%;
  height: 95%;
  overflow-y: scroll;
}

.taskFilter {
  height: 10%;
  width: 100%;
  padding: 0px;
  border-bottom: 1px solid #cacaca;
}
.taskFilter .categories {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  margin: 0 7% 0 0;
  color: #a3a3a3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.taskFilter .categories:first-child {
  margin-left: 7%;
}
.taskFilter .categories:last-child {
  margin-right: 0;
}
.taskFilter .categories .count {
  display: block;
  font-size: 2.3em;
  height: 60%;
  font-weight: normal;
}
.taskFilter .categories .categoryName {
  display: block;
  height: 40%;
  font-weight: 700;
  font-size: 0.8em;
  padding: 0% 0 0% 0;
  color: #d6d6d6;
  text-transform: uppercase;
}
.taskFilter .categories.active {
  transition: color 0.3s, border .3s;
  border-bottom: 3px solid #85AE34 !important;
  color: #000 !important;
  font-weight: 700 !important;
}
.taskFilter .categories.active .categoryName {
  color: #000 !important;
}

/* RESPONSIVE */
@media only screen and (max-width: 1453px) {
  /* SEARCH n NAVIGATION */
  .navHeader .search .searchField {
    margin-top: 4%;
    width: 45%;
    height: 50%;
    background-position: 95% 1px;
  }
}
@media only screen and (max-width: 1153px) {
  /* SEARCH n NAVIGATION */
  .navHeader .search .searchField {
    margin-top: 4%;
    width: 45%;
    height: 50%;
    background-position: 95% 1px;
  }
}
@media only screen and (max-width: 970px) {
  /* SEARCH n NAVIGATION */
  .navHeader .search .searchField {
    margin-top: 4%;
    width: 60%;
    height: 50%;
    background-position: 95% 1px;
  }
}
@media only screen and (max-width: 890px) {
  .navHeader .taskFilter .categories .count {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 620px) and (max-width: 890px) {
  .taskFilter .categories .categoryName {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 768px) {
  /* SEARCH n NAVIGATION */
  .navHeader .search .searchField {
    margin-top: 4%;
    width: 60%;
    height: 50%;
    background-position: 95% 1px;
  }
}
@media only screen and (max-width: 620px) {
  .navHeader .search {
    /* height: 30%; */
    margin-top: 2%;
  }
  .navHeader .search .searchField {
    margin-top: 2%;
    width: 40%;
    height: 60%;
    background-position: 95% 1px;
  }
}
@media only screen and (max-width: 190px) {
  .taskFilter .categories .categoryName {
    font-size: 0.5em;
  }
}
/* TASKS LIST    */
.tasks {
  width: 100%;
  height: 85%;
}
.tasks .taskItem {
  display: block;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  height: 18.5%;
  padding: 5% 0% 0% 7%;
  color: #000;
  opacity: 0.4;
  transition: opacity 0.3s;
}
.tasks .taskItem header {
  margin: 0px;
  height: 100%;
}
.tasks .taskItem .taskHeader {
  margin: 0 0 3% 0;
  font-size: 1.2em;
  font-weight: 700;
}
.tasks .taskItem .taskDescription {
  font-size: 1em;
  width: 90%;
  margin: 0 0 0% 0;
}
.tasks .taskItem footer {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 2%;
  font-size: 0.9em;
}
.tasks .taskItem footer .meta {
  display: inline-block;
}
.tasks .taskItem footer figure {
  display: inline-block;
  float: right;
  margin: -1% 4% 0 0;
}
.tasks .taskItem footer figure .taskAuthorIcon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.tasks .taskItem.activeTask {
  opacity: 1;
}
.tasks .taskItem:hover {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (min-width: 620px) and (max-width: 890px) {
  .tasks .taskItem {
    height: 25%;
  }
}
@media only screen and (max-width: 190px) {
  .tasks .taskItem {
    height: 25%;
  }
}
/* TITELE AUTHOR */
.mainContentInner header {
  position: relative;
}

.headerControls {
  display: none;
  border-top: 1px solid #cacaca;
  padding: 0px;
  margin: 0px;
  margin-top: 2%;
}
.headerControls .returnBtn {
  width: 25px;
  height: 40px;
  border: none;
  background: #fff url("../images/arrow-left.png") no-repeat 50% 50%;
  margin-left: 3%;
  margin-bottom: 1.5%;
  outline: none;
}

.metaData {
  display: block;
  color: #b0b0b0;
  font-style: italic;
  margin-bottom: 2%;
  padding: 7% 0 0 0;
}

.taskMenu {
  display: inline-block;
  float: right;
  position: relative;
}
.taskMenu:hover {
  cursor: pointer;
}
.taskMenu span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #a3a3a3;
  border-radius: 50%;
  margin-left: 3px;
}
.taskMenu + .dropDownMenu {
  display: none;
  position: absolute;
  width: 100px;
  height: 140px;
  background: #ccc;
  top: 110px;
  right: 1%;
  border-top: 4px solid #393939;
  z-index: 8;
}
.taskMenu + .dropDownMenu .taskMenuBtn {
  width: 100%;
  height: 20%;
  margin-bottom: 5px;
  background: #A1A1A1;
  color: #E6E6E6;
  border: none;
  outline: none;
  transition: background 0.5s;
}
.taskMenu + .dropDownMenu .taskMenuBtn:first-child {
  margin-top: 5px;
}
.taskMenu + .dropDownMenu .taskMenuBtn:hover {
  color: #615C5C;
  background: #FAF8F8;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #8D8C8C;
}

.assign {
  color: #b0b0b0;
  padding-bottom: 3%;
  border-bottom: 1px solid #cacaca;
  margin-top: 11%;
  margin-bottom: 7%;
}
.assign .authorIcon {
  display: inline-block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 2%;
  background: #B24FB5;
  border-radius: 50%;
}

.editWindow {
  display: block;
  position: absolute;
  width: 43%;
  height: 400px;
  background: #ccc;
  top: 10%;
  opacity: 1;
  z-index: 18;
}
.editWindow h1 {
  float: left;
  width: 15%;
  height: 100%;
  background: #3A3939;
  color: #E6E6E6;
  border-right: 10px solid #9C9595;
}
.editWindow .windowBtn {
  display: inline-block;
  width: 20%;
  height: 10%;
  background: #A1A1A1;
  margin: 1% 1% 1% 4%;
  float: left;
  margin-top: 0;
  color: #E6E6E6;
  border: none;
  outline: none;
  transition: background 0.5s;
}
.editWindow .windowBtn:hover {
  color: #615C5C;
  background: #FAF8F8;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #8D8C8C;
}
.editWindow .users {
  display: block;
  float: left;
  width: 70%;
  height: 50%;
  margin-left: 5%;
}
.editWindow .users .singleUser {
  display: inline-block;
  width: 20%;
  height: auto;
  text-align: center;
  margin-top: 2%;
}
.editWindow .users .singleUser:hover {
  cursor: pointer;
  background: #DBDBDB;
  border-bottom: 2px solid #252323;
}
.editWindow .glyphicon.glyphicon-remove {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8em;
  border-radius: 2px;
  cursor: pointer;
}

@media only screen and (max-width: 1453px) {
  .editWindow {
    width: 57%;
  }
}
@media only screen and (max-width: 1153px) {
  .editWindow {
    width: 60%;
  }
}
@media only screen and (max-width: 1153px) {
  .taskMenu + .dropDownMenu {
    top: 95px;
  }

  .editWindow {
    width: 64%;
  }
}
@media only screen and (max-width: 768px) {
  .taskMenu + .dropDownMenu {
    top: 80px;
  }

  .editWindow h1 {
    font-size: 1.9em;
  }
}
@media only screen and (max-width: 620px) {
  .editWindow {
    width: 100%;
  }
}
@media only screen and (max-width: 890px) {
  .taskMenu + .dropDownMenu {
    top: 85px;
  }
}
@media only screen and (max-width: 768px) {
  .taskMenu + .dropDownMenu {
    top: 75px;
  }
}
@media only screen and (max-width: 620px) {
  /* TITELE AUTHOR */
  h2 {
    padding: 2% 0% 5% 3%;
    border-top: 1px solid #cacaca;
  }

  .headerControls {
    display: block;
    margin-top: 0%;
  }

  .metaData {
    display: none;
  }

  .assign {
    color: #000;
    padding-bottom: 4%;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    margin-top: 0%;
    padding: 4% 0% 4% 3%;
  }
}
@media only screen and (max-width: 425px) {
  .editWindow h1 {
    font-size: 1.5em;
  }
}
.navHeader .returnBtn {
  position: absolute;
  top: 7px;
  left: 0;
  width: 25px;
  height: 40px;
  border: none;
  background: #fff url("../images/arrow-left.png") no-repeat 50% 50%;
  margin-left: 1%;
  outline: none;
}

.filterWrap .userOverviewHeader {
  height: 12%;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: #F0F0F0;
  opacity: 1;
}
.filterWrap .userOverviewHeader .userOverviewAvatar {
  width: 30%;
  float: left;
  margin: 4% 0 0 9%;
}
.filterWrap .userOverviewHeader .userOverviewAvatar img {
  border-radius: 4px;
}
.filterWrap .userOverviewHeader .userOverviewInfo {
  width: 60%;
  float: right;
  cursor: default;
}
.filterWrap .userOverviewHeader .userOverviewInfo .subTag {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
  font-size: 1.1em;
  color: #727070;
}
.filterWrap .userOverviewHeader .userOverviewInfo .userName, .filterWrap .userOverviewHeader .userOverviewInfo .userId, .filterWrap .userOverviewHeader .userOverviewInfo .userTasksCount {
  margin-bottom: 10px;
}

@media only screen and (max-width: 970px) {
  .filterWrap .userOverviewHeader .userOverviewInfo {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 890px) {
  .filterWrap .userOverviewHeader .userOverviewAvatar {
    margin: 4% 0 0 5%;
  }
  .filterWrap .userOverviewHeader .userOverviewInfo {
    font-size: 1em;
  }
  .filterWrap .userOverviewHeader .userOverviewInfo .subTag {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 768px) {
  .filterWrap .userOverviewHeader .userOverviewInfo {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 620px) {
  .filterWrap .userOverviewHeader .userOverviewAvatar {
    margin: 4% 0 0 10%;
  }
  .filterWrap .userOverviewHeader .userOverviewInfo {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 320px) {
  .filterWrap .userOverviewHeader .userOverviewAvatar {
    margin: 4% 0 0 5%;
  }
  .filterWrap .userOverviewHeader .userOverviewInfo {
    font-size: 1em;
  }
  .filterWrap .userOverviewHeader .userOverviewInfo .subTag {
    font-size: 0.9em;
  }
}
.XD {
  border: 1px solid #A4A4A4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px;
  -webkit-transform: scale(1, 1);
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: ease-out;
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 200ms;
  -ms-transition-timing-function: ease-out;
  transform: scale(1.5, 1.5);
}

/* NEW COMMENT BLOCK.  SIMPLE AND EXPANDED */
.newComment {
  height: 4%;
  margin: 2% 0 2% 0;
  background: #FBFBFB;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 1% 0% 1% 2%;
  /* EXPANDED */
  /* _______________________ */
}
.newComment .newCommentSimple {
  height: 100%;
  width: 100%;
  color: #bdbdbd;
}
.newComment .newCommentSimple a {
  color: #40bde6;
  text-decoration: none;
}
.newComment .commentInput {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
.newComment button {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
.newComment .authorIcon {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
.newComment.newCommentExpanded {
  height: 25%;
  background: #fff;
  padding: 0px;
  border: none;
}
.newComment.newCommentExpanded .newCommentSimple {
  display: none;
}
.newComment.newCommentExpanded .authorIcon {
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 2%;
  border-radius: 50%;
}
.newComment.newCommentExpanded .commentInput {
  display: inline-block;
  float: right;
  margin-bottom: 2%;
  resize: none;
  width: 88%;
  height: 195px;
  padding: 1%;
  border: 2px solid #cacaca;
  border-radius: 5px;
  margin-right: 2%;
}
.newComment.newCommentExpanded .commentInput:focus {
  outline: 0;
}
.newComment.newCommentExpanded button {
  display: block;
  float: right;
  padding: 1.5% 4%;
}
.newComment.newCommentExpanded button.replyNSolve {
  border: none;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  background: #fff;
  font-weight: 700;
}
.newComment.newCommentExpanded button.replyNSolve:hover {
  background: #f2f2f2;
}
.newComment.newCommentExpanded button.reply {
  background: #80A911;
  border: 1px solid #5d7b0c;
  margin-left: 1%;
  border-radius: 3px;
  color: #fff;
  margin-right: 2%;
}
.newComment.newCommentExpanded button.reply:hover {
  background: #92c013;
}

/* ___________________________ */
/* RESPONSIVE */
@media only screen and (max-width: 1453px) {
  /* 	NEW COMMENT BLOCK */
  .newComment {
    /* EXPANDED */
    /* _______________________ */
  }
  .newComment.newCommentExpanded {
    height: 25%;
  }
  .newComment.newCommentExpanded:before {
    content: '';
    width: 4.5%;
    height: 11%;
  }
  .newComment.newCommentExpanded .commentInput {
    width: 90%;
    height: 140px;
  }
}
@media only screen and (max-width: 1153px) {
  /* 	NEW COMMENT BLOCK */
  .newComment {
    /* EXPANDED */
    /* _______________________ */
  }
  .newComment.newCommentExpanded {
    height: 25%;
    background: #fff;
  }
  .newComment.newCommentExpanded:before {
    width: 4%;
    height: 11%;
  }
  .newComment.newCommentExpanded .commentInput {
    width: 87%;
    height: 140px;
  }
}
@media only screen and (max-width: 970px) {
  /* 	NEW COMMENT BLOCK */
  .newComment {
    /* EXPANDED */
    /* _______________________ */
  }
  .newComment.newCommentExpanded {
    height: 25%;
  }
  .newComment.newCommentExpanded:before {
    width: 8%;
    height: 11%;
  }
  .newComment.newCommentExpanded .commentInput {
    width: 85%;
    height: 140px;
  }
}
@media only screen and (max-width: 768px) {
  /* 	NEW COMMENT BLOCK */
  .newComment {
    /* EXPANDED */
    /* _______________________ */
  }
  .newComment.newCommentExpanded {
    height: 25%;
  }
  .newComment.newCommentExpanded:before {
    width: 8%;
    height: 11%;
  }
  .newComment.newCommentExpanded .commentInput {
    width: 85%;
    height: 140px;
  }
}
@media only screen and (max-width: 620px) {
  /* COMMENTS  */
  /* #mainContent { */
  .commentList {
    height: 100%;
    overflow: hidden;
    clear: both;
    padding: 0% 0% 0% 3%;
  }

  /* NEW COMMENT BLOCK.  SIMPLE AND EXPANDED */
  .newComment {
    height: 6%;
    margin: 0;
    background: #E2E2E2;
    border: none;
    border-radius: 0px;
    padding: 2% 0%;
    border-bottom: 1px solid #cacaca;
  }
  .newComment .newCommentSimple {
    width: 90%;
    margin: 0 auto;
    background: #fff !important;
    color: #bdbdbd;
    border-radius: 2px;
    padding: 1% 1% 1% 2%;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
  }

  /* ___________________________ */
  /* } */
}
/* COMMENTS  */
.commentList {
  height: 80%;
  width: 100%;
  clear: both;
}
.commentList .commentItem {
  display: block;
  width: 100%;
  height: auto;
  padding: 3% 0 3% 0;
  border-bottom: 1px solid #cacaca;
}
.commentList .commentItem .authorIcon {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 2%;
  background: #B24FB5;
  border-radius: 50%;
}
.commentList .commentItem .meta {
  display: inline-block;
  float: left;
  margin-left: 10px;
  font-weight: 700;
}
.commentList .commentItem .content {
  clear: both;
  padding: 2% 0 2% 0;
  padding-left: 0;
}

@media only screen and (max-width: 620px) {
  #reassignSection {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0%;
    background: #fff;
    transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
  }
  #reassignSection.slideMore {
    transition: -webkit-transform .415s linear;
    transition: transform .415s linear;
  }
  #reassignSection .reassignSectHeader {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #cacaca;
  }
  #reassignSection .reassignSectHeader .returnButton {
    display: inline-block;
    width: 25px;
    height: 100%;
    border: none;
    background: #fff url("../images/arrow-left.png") no-repeat 50% 50%;
    outline: none;
    float: left;
  }
  #reassignSection .reassignSectHeader .title {
    width: 80%;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    float: left;
  }
  #reassignSection .userList {
    overflow-y: scroll;
    height: 90%;
  }
  #reassignSection .userList .userItem {
    width: 100%;
    padding: 0 0 0% 0%;
    transition: background .5s;
    cursor: pointer;
  }
  #reassignSection .userList .userItem:hover {
    background: #F0F0F0;
  }
  #reassignSection .userList .userItem .singleUserAvatar {
    display: inline-block;
    width: 4%;
    margin-right: 9%;
    padding-left: 5%;
  }
  #reassignSection .userList .userItem .singleUserAvatar > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  #reassignSection .userList .userItem .singleUserName {
    display: inline-block;
    width: 85%;
    border-bottom: 2px solid #cacaca;
    font-size: 1.5em;
    padding: 20px 0 20px 0px;
  }
}
#locationBlock {
  position: relative;
  width: 100%;
  min-height: 30px;
  background: #DDDCDE;
  border-radius: 3px;
  transition: background .3s;
  text-align: center;
  color: #555555;
  font-weight: 1.3em;
  letter-spacing: 7px;
}
#locationBlock:hover {
  background: #C1C1C1;
  cursor: pointer;
}
#locationBlock:hover > .openMap {
  visibility: visible;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
#locationBlock:hover > .openMap.openedArrow {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#locationBlock #map {
  opacity: 0;
  height: 0;
  width: 100%;
}
#locationBlock .locationEditBtn {
  display: none;
  float: left;
  width: 50%;
  border: 2px solid #615C5C;
  background: #A1A1A1;
  color: #E6E6E6;
  outline: none;
  transition: background 0.5s;
}
#locationBlock .locationEditBtn:hover {
  color: #615C5C;
  background: #FAF8F8;
  border-style: solid;
  border-color: #8D8C8C;
}
#locationBlock .openMap {
  display: inline-block;
  visibility: hidden;
  width: 40px;
  height: 30px;
  border: none;
  background: url("../images/1.png") no-repeat 50% 50%;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: transform .5s;
}

/*# sourceMappingURL=styles.css.map */
