@import 'utilities/variables';

#navigation {
	float: left;
	width: 30%;
	height: 99.5%;
	border-right: 1px solid darken($lightGrey,20%);
	overflow: hidden;
}

#mainContent {
	float: left;
	overflow: hidden;
	width: 69%;
	max-width: 100%;
	height:	98%;
	margin-top: 1%;
	/* padding: 2% 15% 0 15%; */
}