@import 'utilities/variables';


#navigation {
	overflow: hidden;
	.navHeader {
		height: 16%;
		width: 100%;

		.search {
			height: 40%;
			width: 100%;
			border-bottom: 1px solid darken($lightGrey,20%);

			.searchField {
				display: block;
				width: 40%;
				height: 60%;
				float: right;
				margin-top: 2%;
				margin-right: 2%;
				background:#fff url("search-icon.png") no-repeat  80% 2px;
				border: 1px solid darken($lightGrey,10%);
				background-size: 15% 90%;
				line-height: 100%;
			&:focus {
				background: none;
			}
			}
		}
		.taskSection {
			height: 50%;
			width: 100%;
			border-bottom: 1px solid darken($lightGrey,20%);
			
			.categories {
				display: block;
				float: left;
				width: 25%;
				height: 100%;
				text-align: center;
				margin: 0 4% 0 0;
				color: darken($creamColor,30%);
				-webkit-user-select: none;
				   -moz-user-select: none;
				    -ms-user-select: none;
				        user-select: none;
				cursor: default;

				&:first-child {
					margin-left: 8%;
				}
					
				.count {	
					display: block;
					font-size: 1.2em;
					 padding: 15% 0 10% 0; 
					height: 20%;
				}

				.categoryName {
					display: block;
					font-size: 0.6em;
					padding: 2% 0 0 0;
					color: darken($creamColor,10%);
				}

				&.active {
					border-bottom: 3px solid $darkGreen !important;
					color: #000 !important;
					font-weight: 700 !important;
					& .categoryName {
						color: #000 !important;
					}
				}
			}

		}
	}

	.tasks {
 		width: 100%;
		height: auto;
 
		.taskBlock {
			display: block;
			border-bottom: 1px solid darken($lightGrey,20%);
			width: 92%;
			height: 50%;
			padding: 5% 0% 4% 8%;
			color : darken($creamColor,20%);

			.taskHeader {
				margin: 0 0 5px 0;
			}

			.taskDescription {
				width: 90%;
				margin: 0 0 5px 0;
			}
			.authorInfo {
				display: inline-block;
			}
			.taskStatusIcon {
				display: inline-block;
				float: right;
				width: 20px;
				height: 20px;
				margin-right: 8%;
				background: $violet;
				border-radius: 50%;
				opacity: 0.4;
			}

			&.activeTask {
				color: #000;
				.taskHeader {
					font-weight: 700;
				}

				.taskStatusIcon {
					opacity: 1;
				}

			}
			&:hover {
				cursor: pointer;
				-webkit-user-select: none;
				   -moz-user-select: none;
				    -ms-user-select: none;
				        user-select: none;
			}
		}
	}
}

#mainContent {


	header {
		.info {
			display: inline-block;
			color: darken($creamColor,25%);
			font-style: italic;
			margin-bottom: 2%;
		}
		.more {

			display: inline-block;
			float: right;

			span {
				display: inline-block;
				width: 5px;
				height: 5px;
				background:  darken($creamColor,30%);
				border-radius: 50%;
				margin-left: 3px;
			}
		}
		margin-bottom: 10%;
	}

	.assign {
		color: darken($creamColor,25%);
		padding-bottom: 4%;
		border-bottom: 1px solid darken($lightGrey,20%);
		&:before {
			content: '';
			display: inline-block;
			float: left;
			width: 20px;
			height: 20px;
			margin-right: 2%;
			background: $violet;
			border-radius: 50%;
		}
	}
	
	.commentBlock {
		background: orange;
		height: 93%;

		.comment {
			display: block;
			width: 100%;
			height: auto;
			background: blue;
		}
	}

}