@media only screen and (max-width: 1453px) {
	body {
		background: #fff;
	}
		/* SEARCH n NAVIGATION */
	#navigation {	
		.navHeader {
			.search {	
				.searchField {
					margin-top: 4%;
					width: 45%;
					height: 50%;
					background-position: 95% 1px;
				}
			}
		}
	}

	/* 	NEW COMMENT BLOCK */
	#mainContent {
		.newComment {
			/* EXPANDED */
			&.newCommentExpanded {
				height: 25%;
				&:before {
					content: '';
					width: 4.5%;
					height: 11%;
				}

				.commentInput {
					width: 90%;
					height: 140px;
				}
			}
			/* _______________________ */
		}
	}
}

@media only screen and (max-width: 1153px) {
	body {
		background: #fff;
	}
	/* SEARCH n NAVIGATION */
	#navigation {	
		.navHeader {
			.search {	
				height: 40%;
				.searchField {
					margin-top: 4%;
					width: 45%;
					height: 50%;
					background-position: 95% 1px;
				}
			}
		}
	}

	/* 	NEW COMMENT BLOCK */
	#mainContent {
		.newComment {
			.commentInput {
			}
			/* EXPANDED */
			&.newCommentExpanded {
				height: 25%;

				&:before {
					width: 4%;
					height: 11%;
				}
				.commentInput {
					width: 87%;
					height: 140px;
				}
			}
			/* _______________________ */
		}
	}
	
}
@media only screen and (max-width: 970px) { 
	body {
		background: #fff;
	}
	
		/* SEARCH n NAVIGATION */
	#navigation {	
		.navHeader {
			.search {	
				height: 40%;
				.searchField {
					margin-top: 4%;
					width: 50%;
					height: 50%;
					background-position: 95% 1px;
				}
			}
		}
	}

		/* 	NEW COMMENT BLOCK */
	#mainContent {
		.newComment {
			.commentInput {
			}
			/* EXPANDED */
			&.newCommentExpanded {
				&:before {
					width: 6.5%;
					height: 12%;
				}
			}
			/* _______________________ */
		}
	}	

}
@media only screen and (max-width: 768px)  {
	body {
		 background: #fff; 
	}

	/* SEARCH n NAVIGATION */
	#navigation {	
		.navHeader {
			.search {
				height: 30%;
				.searchField {
					margin-top: 4%;
					width: 60%;
					height: 50%;
					background-position: 95% 1px;
				}
			}
		}
	}

	/* 	NEW COMMENT BLOCK */
	#mainContent {
		.newComment {
			.commentInput {
			}
			/* EXPANDED */
			&.newCommentExpanded {
				height: 25%;

				&:before {
					width: 8%;
					height: 11%;
				}
				.commentInput {
					width: 85%;
					height: 140px;
				}
			}
			/* _______________________ */
		}
	}
}
@media only screen and (max-width: 670px) { 
		body {
			background: orange;
		}
}

@media only screen and (max-width: 520px) { 
		body {
			background: #fff;
		}
}

/* mibile */
@media only screen and (min-width: 320px) and (max-width: 480px) {

}