
/*    COLORS     */
$lightGrey:  #FDFDFD;
$creamColor: #F0F0F0;
$darkGreen: #85AE34;
$violet: #B24FB5;
$dirtyWhite: #FBFBFB;
$clearBlue: #9ADCF2;
$green: #80A911;
$asphalt: #E2E2E2;
$darkGrey: #727070;

/* __________________ */

/*      SIZES     */
$xLarge: 1453px;
$large: 1153px;
$xMedium: 970px;
$middle: 890px;
$medium: 768px;
$mobileMin: 320px;
$mobileMax: 620px;

/* __________________ */